<div class="main">
    <div class="mainDashboard">
        <div class="dashboardHeader">
            <button type="button" class="sidebarButton">
                <i class="fa-solid fa-wallet fa-2xl"></i>
            </button>
            <p>Sổ tiết kiệm</p>
            <div></div>
        </div>
        <div class="summary">
            <div class="sum">
                <i class="icon iconSum"></i>
                <p><b>Tổng số tiền trong sổ</b></p>
                <h1 id="sumDeposit">{{sumDeposit}}</h1>
            </div>
            <div class="send">
                <i class="icon iconSend"></i>
                <p><b>Số tiền đã gửi trong tháng này</b></p>
                <h1 id="MonthDeposit">{{MonthDeposit}}</h1>
            </div>
            <div class="withdraw">
                <i class="icon iconWithdraw"></i>
                <p><b>Số tiền đã rút trong tháng này</b></p>
                <h1 id="Monthwithdraw">{{Monthwithdraw}}</h1>
            </div>
        </div>
        <div class = "leastBox box">
            <label for="money">Số tiền gửi tối thiểu</label>
            <input type="text" id="money" name="money">
            <input id="changeBtn" type="submit" value="Thay đổi"></input>
        </div>
        <div class="interestrateTable">
            <h1>Bảng lãi suất tiết kiệm</h1>
            <table id="table" style="width: 60%; margin-left: auto; margin-right: auto;">
                <tr>
                    <th style="width: 20%;">Mã Loại</th>
                    <th style="width: 40%;">Tên Loại</th>
                    <th style="width: 20%;">Kỳ hạn</th>
                    <th style="width: 20%;">Lãi suất</th>
                </tr>
                {{#if InterestType}}
                {{#each InterestType}}
                <tr>
                    <td>{{this.InterestTypeID}}</td>
                    <td>{{this.InterestTypeName}}</td>
                    <td>{{this.InterestRate}}</td>
                    <td>{{this.Term}}</td>
                </tr>
                {{/each}}
                {{/if}}
            </table>
        </div>
    </div>
</div>